body {
  margin: 0;
  overflow-x: hidden;
  background-color: green;
}
.bodydiv {
  width: 110vw;
  margin: -50px -10%;
}
.bl1, .bl2, .bl3, .bl4 {
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 0%;
  border: 10px solid black;
}
.bl1 {
background-color: blue;
margin: 0px;
opacity: 50%;
}
.bl2 {
background-color: grey;
margin: 0px;
opacity: 50%;
}
.bl3 {
background-color: purple;
margin: 0px;
opacity: 100%;
}
.bl4 {
background-color: orange;
margin: 0px;
opacity: 50%;
}
