/*All*/
body {
background-color: darkgrey;
margin: 0;
}

p {
  color: white;
}

/* Tennis */
* {
  box-sizing: border-box;
}
.court {
  width: 900px;
  margin: 100px auto;
}
.side {
  width: 150px;
  height: 600px;
  background-color: lightgreen;
  float: left;
  border: 5px solid white;
}
.back {
  width: 600px;
  height: 200px;
  background-color: lightgreen;
  float: left;
  border: 5px solid white;
}
.service {
  float: left;
  width: 300px;
  height: 400px;
  background-color: lightgreen;
  border: 5px solid white;
}
.single {
  float: left;
  width: 600px;
}

/* NO */
.pen {
  width: 800px;
  margin: 100px auto;
}

.spring {
  width: 100px;
  height: 200px;
  background-color: lightgreen;
  float: left;
  border: 5px solid white;
}

.clip {
  width: 100px;
  height: 400px;
  background-color: lightgreen;
  float: left;
  border: 5px solid white;
}

.ink {
  width: 200px;
  height: 400px;
  background-color: lightgreen;
  float: left;
  border: 5px solid white;
}

.shell {
  width: 200px;
  height: 600px;
  background-color: lightgreen;
  float: left;
  border: 5px solid white;
}

.pocket {
  float: left;
  width: 100px;
}

.mech {
  float: left;
  width: 600px;
}

/*Chess*/

.board {
  width: 800px;
  margin: 100px auto;
}

.red, .white {
  float: left;
  width: 100px;
  height: 100px;
}

.red {
  background-color: blue;
}

.white {
  background-color: black;
}
/*Columns*/

.cont {
  width: 900px;
  margin: 100px auto;
}

.header {
  width: 900px;
  height: 150px;
  background-color: black;
  float: left;
}

.subber {
  width: 900px;
  height: 50px;
  margin: 25px 0;
  background-color: green;
  float: left;
}

.footer {
  width: 900px;
  height: 75px;
  margin: 25px 0;
  background-color: blue;
  float: left;
}

.column {
  width: 280px;
  height: 600px;
  background-color: black;
  float: left;
}

#mar {
    margin: 0 30px;
}
